<form autocomplete="off">
  <div class="arbredevie">
    <div class="jardin droppable draggable">
      {{#each membresJardin as |membre index|}}
        <div class="sphere">
          <img src="{{membre.token}}" title="{{membre.nom}}" data-field="{{membre.id}}" />
        </div>
      {{/each}}
    </div>
    <div class="arbre">
      {{#each contenuArbre as |sphere index|}}
        <div class="sphere {{index}} droppable draggable" data-field="{{index}}">
          <img src="{{sphere.token}}" title="{{sphere.nom}}" data-field="{{sphere.id}}"/>
        </div>
      {{/each}}
      {{#each contenuArbre as |qlipath index|}}
        <div class="qlipath qlipath-{{index}}">
          <img style="max-width: 30px; max-height: 30px;" src="{{qlipath.qlipathToken}}" title="{{qlipath.qlipathNom}}"/>
        </div>
      {{/each}}
    </div>
  </div>
</form>