{{log "cabinet-chat" this}}
<div class="cabinet-chat">
  <div class="foreground">
    <div class="intro-chat">
      {{#if (ne actingCharImg "icons/svg/mystery-man.svg")}}
        <div class="intro-img">
          <img src="{{actingCharImg}}" title="{{actingCharName}}" />
        </div>
      {{/if}}
      <div class="intro-right">
        <p class="introText">{{{introText}}}</p>
      </div>
    </div>
    <div class="comedien-actions">
      {{#if demande}}
        <p> <button id="demander-comedien-accepter" data-id-esprit="{{actingId}}" data-id-comedien="{{idComedien}}">Accepter</button></p>
        <p> <button id="demander-comedien-refuser" data-id-user-demandeur="{{userIdDemandeur}}" data-id-esprit="{{actingId}}" data-id-comedien="{{idComedien}}">Refuser</button></p>
      {{/if}}
    </div>
    {{#if accepte}}
      <p class="reponse"> {{ localize "CDM.COMEDIENCHATMESSAGE.accepte" comedienName=nomComedien }}</p> 
    {{/if}}
    {{#if refuse}}
      <p class="reponse"> {{ localize "CDM.COMEDIENCHATMESSAGE.refuse" comedienName=nomComedien }}</p>
      <div class="comedien-discorde">
        <p> <button id="demander-comedien-discorde" data-id-user-demandeur="{{userIdDemandeur}}" data-id-comedien="{{idComedien}}">Discorde</button></p>
      </div>
    {{/if}}
  </div>
</div>