{{!log "corps-details" this}}
<div class="corps-main">
  <div class="attributs-col">
    <div class="titre2">Attributs</div>
    <div class="grid-attributs">
        {{#each attributs as |attribut id|}}
          <div class="attribut-name">{{attribut.label}}</div>
            {{#if ../editable}}
            <input type="number" name="system.attributs.{{attribut.id}}.valeur" value="{{getAttributProperty ../actor attribut 'valeur'}}" placeholder="0" />
            {{else}}
          <div class="attribut-value">+ {{attribut.valeur}}</div>
          {{/if}}
        {{/each}}
    </div>
  </div>
      
  <div class="corruptions-col">
    <div class="titre2">Corruptions
    </div>
    <div class="sstitre">( {{comedien.name}} )</div>
    <div class="grid-corruption">
      {{#each corruptions as |corruption id|}}
        <div style="margin: 0px 5px;">
          <details>
          <summary class="ligne-corruption">
            <div class="nom-corruption">{{corruption.name}}</div>
          </summary>
            <div class="desc">{{{corruption.system.descriptionhtml}}}</div>
          </details>
        </div>
      {{/each}}
    </div>
  </div>
    
  <div class="equipement-col">
    <div class="titre2">Equipement</div>
    <div style="margin:0px 0px 10px 15px;" class="script cdmdsc">
      {{#if editable}}
        {{editor equipementhtml target="system.equipement" button=true engine="prosemirror" owner=owner editable=editable}}
      {{else}}
        {{{equipementhtml}}}
      {{/if}}
    </div>
  </div>

  <div class="description-col">
    <div class="titre2">Description</div>
    <div style="margin:0px 0px 10px 15px;" class="script cdmdsc">
      {{#if editable}}
        {{editor descriptionhtml target="system.description" button=true engine="prosemirror" owner=owner editable=editable}}
      {{else}}
        {{{descriptionhtml}}}
      {{/if}}
    </div>
  </div>
</div>
