{{!log 'sante' this}}
<div class="sante-grid {{#if femme}}bck_f{{else}}bck_h{{/if}}">
    <div class="encart-malus">
          <img src={{images.encart_malus}} title="Malus dû aux blessures" />
            <div class="text-malus">{{malus}}</div>
    </div>
    <div class="sante-tete">
        <label>Tête</label>
        <div class="circles-container">
            {{#times (nbCasesSante actor 'tete')}}
                <input type="checkbox" class="case-sante circle-checkbox {{#if (seuilSante ../actor 'tete' @index)}}filled{{/if}} {{#if (estCocheeSante ../actor 'tete' @index)}}checked{{/if}}" id="circle{{@index}}" data-index="{{@index}}" data-zone="tete"/>
            {{/times}}
        </div>
        <div class="sante-protection">
            <label for="protection-tete-input">Protection</label>
            {{prot.tete}}
        </div>  
    </div>
    <div class="sante-bras-droit">
        <label>Bras droit</label>
        <div class="circles-container">    
             {{#times (nbCasesSante actor 'brasDroit')}}                
                <input type="checkbox" class="case-sante circle-checkbox {{#if (seuilSante ../actor 'brasDroit' @index)}}filled{{/if}} {{#if (estCocheeSante ../actor 'brasDroit' @index)}}checked{{/if}}" id="circle{{@index}}" data-index="{{@index}}" data-zone="brasDroit"/>
            {{/times}}        
        </div>
        <div class="sante-protection">
            <label for="protection-bras-droit-input">Protection</label>
                {{prot.brasDroit}}
        </div>
    </div>
    <div class="sante-bras-gauche">
        <label>Bras gauche</label>
        <div class="circles-container">     
            {{#times (nbCasesSante actor 'brasGauche')}} 
                <input type="checkbox" class="case-sante circle-checkbox {{#if (seuilSante ../actor 'brasGauche' @index)}}filled{{/if}} {{#if (estCocheeSante ../actor 'brasGauche' @index)}}checked{{/if}}" id="circle{{@index}}" data-index="{{@index}}" data-zone="brasGauche"/>
            {{/times}}          
        </div>
        <div class="sante-protection">
            <label for="protection-bras-gauche-input">Protection</label>
                {{prot.brasGauche}}
        </div>
    </div>
    <div class="sante-torse">
        <label>Torse</label>
        <div class="circles-container">    
            {{#times (nbCasesSante actor 'torse')}}    
                <input type="checkbox" class="case-sante circle-checkbox {{#if (seuilSante ../actor 'torse' @index)}}filled{{/if}} {{#if (estCocheeSante ../actor 'torse' @index)}}checked{{/if}}" id="circle{{@index}}" data-index="{{@index}}" data-zone="torse"/>
            {{/times}}           
        </div>
        <div class="sante-protection">
            <label for="protection-torse-input">Protection</label>
                {{prot.torse}}
        </div>        
    </div>
    <div class="sante-jambe-droite">
        <label>Jambe droite</label>
        <div class="circles-container">         
            {{#times (nbCasesSante actor 'jambeDroite')}} 
                <input type="checkbox" class="case-sante circle-checkbox {{#if (seuilSante ../actor 'jambeDroite' @index)}}filled{{/if}} {{#if (estCocheeSante ../actor 'jambeDroite' @index)}}checked{{/if}}" id="circle{{@index}}" data-index="{{@index}}" data-zone="jambeDroite"/>
            {{/times}}      
        </div>
        <div class="sante-protection">
            <label for="protection-jambe-droite-input">Protection</label>
                {{prot.jambeDroite}}
        </div>
    </div>
    <div class="sante-jambe-gauche">
        <label>Jambe gauche</label>
        <div class="circles-container">      
            {{#times (nbCasesSante actor 'jambeGauche')}}
                <input type="checkbox" class="case-sante circle-checkbox {{#if (seuilSante ../actor 'jambeGauche' @index)}}filled{{/if}} {{#if (estCocheeSante ../actor 'jambeGauche' @index)}}checked{{/if}}" id="circle{{@index}}" data-index="{{@index}}" data-zone="jambeGauche"/>
            {{/times}}         
        </div>
        <div class="sante-protection">
            <label for="protection-jambe-gauche-input">Protection</label>
                    {{prot.jambeGauche}}
        </div>
    </div>
    {{#if editable}}
        <div class="sequelles-editable">
            <label> Séquelles</label>
            {{editor sequellesHtml target="system.sequelles" button=true engine="prosemirror" editable=true}}
        </div>
      <div class="change-sexe">
        <span class="middle-size"><a class="sheet-change-sexe" title="{{localize 'CDM.TOOLTIP.changesexe'}}">
          {{#if femme}}<i class="fas fa-female"></i>{{else}}<i class="fas fa-male"></i>{{/if}}</a>
        </span>
      </div>
    {{else}}
        <div class="sequelles">
            <label> Séquelles</label>
            {{editor sequellesHtml target="system.sequelles" button=true engine="prosemirror" editable=false}}
        </div>
    {{/if}}
</div>