<div class="grid-pouvoirs">
    {{#each pouvoirs as |pouvoir|}}
        <div class="bloc-pouvoir item-contextmenu" data-item-id="{{pouvoir._id}}">
            <div class="nom">{{pouvoir.name}}</div>
            <div class="description">
                <div class="inner-desc">
                    <div class="info-line">
                        <span class="neoclassic">x&nbsp;</span>
                        <span class="niveau">{{pouvoir.system.niveau}}&nbsp;</span>
                        <span class="niveau"> {{pouvoir.system.spherelabel}}&nbsp;</span>
                        <span class="niveau"> {{pouvoir.system.perisprit}} pt</span>
                        <span class="neoclassic">&nbsp;m</span>
                    </div>
                    {{{pouvoir.system.descriptionhtml}}}
                </div>
            </div>
        </div>
    {{/each}}
</div>