<div class="grid-pouvoirs">
    {{#each pouvoirs as |pouvoir|}}
        <div class="bloc-pouvoir {{#ifn @root.editable}}item-control item-edit{{/ifn}}" data-field="{{pouvoir._id}}">
            <div class="nom">{{pouvoir.name}}</div>
            <div class="description">
                <div class="inner-desc">
                    <div class="info-line">
                        <span class="neoclassic">x&nbsp;</span>
                        <span class="niveau">{{pouvoir.system.niveau}}&nbsp;&nbsp;</span>
                        <span class="niveau"> {{pouvoir.system.shperelabel}}&nbsp;&nbsp;</span>
                        <span class="niveau"> {{pouvoir.system.perisprit}} pt</span>
                        {{#if @root.editable}}
                        &nbsp;<a class="item-control item-edit" data-field="{{pouvoir._id}}" data-tooltip="Modifier"><i class="fas fa-cog"></i></a>
                        <a class="item-control item-delete" data-field="{{pouvoir._id}}" data-tooltip="Supprimer"><i class="fas fa-trash"></i></a>
                        {{/if}}
                        <span class="neoclassic">&nbsp;m</span>
                    </div>
                    {{{pouvoir.system.descriptionhtml}}}
                </div>
            </div>
        </div>
    {{/each}}
</div>