<div class="grid-tab-qualites">
  <div class="grid-arbre-qualites">
      <div class="qualite-group intellect-group" data-field="intellect">
        {{> "systems/cabinet/templates/sheets/partials/esprit-qualite-group.hbs" qualite='intellect' gauche="1"}}
      </div>
      <div class="qualite-group courage-group" data-field="courage">
        {{> "systems/cabinet/templates/sheets/partials/esprit-qualite-group.hbs" qualite='courage' centre="1"}}
      </div>
      <div class="qualite-group sensibilite-group" data-field="sensibilite">
        {{> "systems/cabinet/templates/sheets/partials/esprit-qualite-group.hbs" qualite='sensibilite' }}
      </div>
      <div class="qualite-group autorite-group" data-field="autorite">
        {{> "systems/cabinet/templates/sheets/partials/esprit-qualite-group.hbs" qualite='autorite' gauche="1" }}
      </div>
      <div class="qualite-group ouverture-group" data-field="ouverture">
        {{> "systems/cabinet/templates/sheets/partials/esprit-qualite-group.hbs" qualite='ouverture' }}
      </div>
      <div class="qualite-group savoir-group" data-field="savoir">
        {{> "systems/cabinet/templates/sheets/partials/esprit-qualite-group.hbs" qualite='savoir' gauche="1" }}
      </div>
      <div class="qualite-group serenite-group" data-field="serenite">
        {{> "systems/cabinet/templates/sheets/partials/esprit-qualite-group.hbs" qualite='serenite' centre="1"}}
      </div>
      <div class="qualite-group charisme-group" data-field="charisme">
        {{> "systems/cabinet/templates/sheets/partials/esprit-qualite-group.hbs" qualite='charisme' }}
      </div>
      <div class="qualite-group attention-group" data-field="attention">
        {{> "systems/cabinet/templates/sheets/partials/esprit-qualite-group.hbs" qualite='attention' centre="1"}}
      </div>
      <div class="qualite-group coordination-group" data-field="coordination">
        {{> "systems/cabinet/templates/sheets/partials/esprit-qualite-group.hbs" qualite='coordination' centre="1"}}
      </div>
  </div>
  <div class="col-droite-qualites">
    <div class="col-droite-bloc0">
      <div class="comportement-label">Comportement : </div><div class="comportement">{{localize comportement}}</div>
    </div>
    <div class="col-droite-bloc1">
      <div class="col-aspects">
        <div class="titre2" style="margin: 0px 0px 10px 0px;">Aspects</div>
          <div class="aspects-grid">
            <div class="aspects-ligne" style="grid-row: 1; grid-column: 1;">
            <span class="nom-aspect">NESHAMA</span>
            </div>
            <div class="aspectcircle" style="grid-row: 1; grid-column: 2;">
            {{#if editable}}
              <input type="number" name="system.aspects.neshama.valeur" value="{{system.aspects.neshama.valeur}}" />
            {{else}}
              +{{system.aspects.neshama.valeur}}
            {{/if}}
          </div>
          <div class="aspects-ligne" style="grid-row: 2; grid-column: 1;">
            <span class="nom-aspect">ROUA'H</span>
            </div>
          <div class="aspectcircle" style="grid-row: 2; grid-column: 2;">
            {{#if editable}}
              <input type="number" name="system.aspects.rouah.valeur" value="{{system.aspects.rouah.valeur}}" />
            {{else}}
              +{{system.aspects.rouah.valeur}}
            {{/if}}
          </div>
          <div class="aspects-ligne" style="grid-row: 3; grid-column: 1;">
            <span class="nom-aspect">NEFESH</span>
          </div>
          <div class="aspectcircle" style="grid-row: 3; grid-column: 2;">
            {{#if editable}}
              <input type="number" name="system.aspects.nefesh.valeur" value="{{system.aspects.nefesh.valeur}}" />
            {{else}}
              +{{system.aspects.nefesh.valeur}}
            {{/if}}
          </div>
        </div>
      </div>
      <div class="corruptions-col">
        <div class="titre2" style="margin:0px 0px 10px 0px;">Corruptions
          {{#if editable}}&nbsp;&nbsp;
            <a class="item-create" data-type="corruption" title="{{localize 'CDM.TOOLTIP.ajouterCorruption'}}">
            <i class="fa-solid fa-books-medical"></i></a>
          {{/if}}
        </div>
        {{#each corruptions as |corruption id|}}<div class="item-contextmenu" data-item-id="{{corruption._id}}">
          <details>
          <summary class="ligne-cor item-contextmenu" data-item-id="{{corruption._id}}">
            <div class="nom-cor">{{corruption.name}}</div>            
          </summary>
              <div class="desc">{{{corruption.system.descriptionhtml}}}</div>
          </details></div>
        {{/each}}
      </div>
    </div>
    <div class="titre2" style="margin:20px 0px 10px 50px;">Acquis
      {{#if editable}}&nbsp;&nbsp;
        <a class="item-create" data-type="acquis" title="{{localize 'CDM.TOOLTIP.ajouterAcquis'}}">
        <i class="fa-solid fa-books-medical"></i></a>
      {{/if}}
    </div>
    <div class="acquis-col">
    {{#each acquis as |acquisElement id|}}<div class="item-contextmenu" data-item-id="{{acquisElement._id}}">
      <details>
      <summary class="ligne-acquis">
        <div class="acquis-nom">{{acquisElement.name}}</div><div class="acquis-valeur">+{{acquisElement.system.valeur}}</div>
      </summary>
          <div class="desc">{{{acquisElement.system.descriptionhtml}}}</div>
      </details></div>
    {{/each}}
    </div>
    <div class="col-droite-bloc3">
      <div class="medaillon_cab cabinet-contextmenu">
        {{#if jardin}}
          <img src={{images.ICONE_JARDIN}} data-tooltip="Clic droit pour le menu de l'esprit dans le jardin" />
        {{else}}
          {{#if comedien}}
            <img src={{images.ICONE_COMEDIEN}} data-tooltip="Clic droit pour le menu du comédien" />
          {{else}}
            <img src={{images.ICONE_CABINET}} data-tooltip="Clic droit pour le menu du murmure" />
          {{/if}}
        {{/if}}
      </div>
      <div class="encart-exp" >
        <div class="text-exp">
        {{#if editable}}
          <input type="number" name="system.experience.actuelle" value="{{system.experience.actuelle}}" />
          &nbsp;/&nbsp;
          <input type="number" name="system.experience.totale" value="{{system.experience.totale}}" />
        {{else}}
          {{system.experience.actuelle}}&nbsp;/&nbsp;{{system.experience.totale}}
        {{/if}}
        </div>
      </div>
    </div>
  </div>
</div>