<form class="{{cssClass}}" autocomplete="off">
  {{!log "acquis" this}}
  <div class="acquis-sheet">
      <div class="name-title">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" />
        <input name="name" type="text" value="{{item.name}}" />
      </div>
      <div class="acquis-content">
        <div class="valeur-group">
          <div class="field-name">Valeur</div>
          <select name="system.valeur">
              {{selectOptions selectValeur selected=system.valeur}}
          </select>
        </div>
        <div class="description-group">
          <div class="field-name">Description</div>
          <div class="description-val">
            {{editor descriptionhtml target="system.description" button=true engine="prosemirror" owner=owner editable=editable}}
          </div>
        </div>
      </div>
  </div>
</form>