<form class="{{cssClass}}" autocomplete="off">
  {{!log "arme" this}}
  <div class="arme-sheet">
    <div class="name-title">
      <img src="{{item.img}}" data-edit="img" title="{{item.name}}" />
      <input name="name" type="text" value="{{item.name}}" />
    </div>
    <div class="arme-content">
      <div class="data-group" style="grid-row: 1 / 2; grid-column: 1 / 7">
        <select name="system.sousType">
          {{selectOptions arme_soustypes selected=system.sousType labelAttr="label"}}
        </select>
      </div>
      <div class="data-group" style="grid-row: 2 / 3; grid-column: 1 / 7;">
        <select name="system.categorie">
          {{selectOptions arme_categories selected=system.categorie labelAttr="label"}}
        </select>
      </div>
      <div class="field-name" style="grid-row: 3 / 4; grid-column: 1 / 2;">Précision</div>
      <select style="grid-row: 3 / 4; grid-column: 2 / 3;width: 3em;" name="system.precision">
        {{#select system.precision}}
          <option value="0">0</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
        {{/select}}
      </select>
      <div class="field-name" style="grid-row: 3 / 4; grid-column: 3 / 4;">Portée</div>
      <div class="data-group" style="grid-row: 3 / 4; grid-column: 4 / 5;">
        <input name="system.portee" type="number" value="{{item.system.portee}}" />
        <div style="margin: 4px 0px 0px 3px;">mètres</div>
      </div>
        <div class="field-name" style="grid-row: 3 / 4; grid-column: 5 / 6;">Dégâts</div>
        <input style="grid-row: 3 / 4; grid-column: 6 / 7;width: 4em" name="system.degats" type="text" value="{{item.system.degats}}" />
        <div class="field-name" style="grid-row: 4 / 5; grid-column: 1 / 2;">Puissance</div>
        <input type="checkbox" style="grid-row: 4 / 5; grid-column: 2 / 3;" name="system.puissance" {{checked system.puissance}} />
        <div class="field-name" style="grid-row: 4 / 5; grid-column: 3 / 4;">Munitions</div>
        <input name="system.munitions" style="grid-row: 4 / 5; grid-column: 4 / 5;" type="number" value="{{item.system.munitions}}" />
        <div class="field-name" style="grid-row: 4 / 5; grid-column: 5 / 6;">Cadence</div>
        <input name="system.cadence" style="grid-row: 4 / 5; grid-column: 6 / 7;" type="number" value="{{item.system.cadence}}" />
      <div class="description-group" style="grid-row: 5 / 6; grid-column: 1 / 7;margin-top: 10px;">
        <div class="field-name">Description</div>
        <div class="description-val">
          {{editor descriptionhtml target="system.description" button=true engine="prosemirror" owner=owner editable=editable}}
        </div>
      </div>
    </div></div>
</form>