<form class="{{cssClass}}" autocomplete="off">

  {{log "corps" this}}
  {{! Main Content }}
  <section class="sheet-body corps-sheet">
    <header class="corps-header">
      <div class="titre_feuille">Corps&nbsp;&nbsp;
        <span class="middle-size"><a class="sheet-change-lock" title="{{localize 'CDM.TOOLTIP.unlockSheet'}}">
          {{#if editable}}<i class="fas fa-lock-open"></i>{{else}}<i class="fas fa-lock" ></i>{{/if}}</a>
        </span>
      </div>
      <div class="charname">
        {{#if editable}}<input name="name" type="text" value="{{actor.name}}" />{{else}}{{actor.name}}{{/if}}
      </div>
    </header>
    <div class="sheet-cont">
      {{! Sheet Navigation }}
      <nav class="sheet-navigation tabs" data-group="primary">
        <a class="choix_tab" data-tab="details"><i class="fa-solid fa-chart-simple"></i></a>
        <a class="choix_tab" data-tab="sante"><i class="fa-solid fa-heart-pulse"></i></a>
        <a class="choix_tab" data-tab="notes"><i class="fa-regular fa-clipboard"></i></a>
      </nav>

      {{! Détails Tab }}
      <div class="tab tab-details flexcol" data-group="primary" data-tab="details">
          {{> "systems/cabinet/templates/sheets/partials/corps-details.hbs"}}
      </div>

      {{! Santé Tab }}
      <div class="tab tab-sante flexcol" data-group="primary" data-tab="sante">
          {{> "systems/cabinet/templates/sheets/partials/corps-sante.hbs"}}
      </div>

      {{! Notes Tab }}
      <div class="tab tab-notes flexcol" data-group="primary" data-tab="notes">
        {{> "systems/cabinet/templates/sheets/partials/tab-notes.hbs"}}
      </div>
    </div>
  </section>
</form>