<form class="{{cssClass}} flexrow" autocomplete="off">
  {{log "corruption" this}}
  <div class="corruption-sheet">
    <section class="sheet-body flexcol">
      <div class="name-title">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" />
        <input name="name" type="text" value="{{item.name}}" />
      </div>
      <div class="corruption-content">
        <div class="description-group">
          <div class="description-name">Description</div>
          <div class="description-val">
            {{editor descriptionhtml target="system.description" button=true engine="prosemirror" owner=owner editable=editable}}
          </div>
        </div>
      </div>
    </section>
  </div>
</form>