<form class="{{cssClass}}" autocomplete="off">

  {{!log "pnj" this}}
  {{! Main Content }}
  <section class="sheet-body pnj-sheet">
    <header class="pnj-header">
      <div class="titre_feuille" style="grid-row: 1 / 3; grid-column: 1 / 2;">PNJ
      </div>
      <div class="charname">
        {{#if editable}}<input name="name" type="text" value="{{actor.name}}" />{{else}}{{actor.name}}{{/if}}
      </div>
      <div class="pnj-portrait" style="grid-row: 1 / 3; grid-column: 3 / 4;">
      {{#if editable}}
          <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" />
      {{else if (ne actor.img "icons/svg/mystery-man.svg")}}
            <img src="{{actor.img}}" title="{{actor.name}}" />
      {{/if}}
      </div>
      <div class="conso-bloc" style="grid-row: 2 / 3; grid-column: 2 / 3;">
        <div class="middle-size" style="color:black; font-size 1.5em"><a class="sheet-change-lock" title="{{localize 'CDM.TOOLTIP.unlockSheet'}}">
          {{#if editable}}<i class="fas fa-lock-open"></i>{{else}}<i class="fas fa-lock" ></i>{{/if}}</a>
        </div>
        <div class="perisprit-label" style="margin-left:5px;">Perisprit</div>
        <div class="perisprit-value">
            <input type="text" name="system.perisprit" value="{{system.perisprit}}" />
        </div>
        <div class="energie-label" style="margin-left:10px;">Énergie</div>
        <div class="energie-value">
          <input type="text" name="system.energie.actuelle" value="{{system.energie.actuelle}}" />    
          <span>/</span>
          <input type="text" name="system.energie.totale" value="{{system.energie.totale}}" {{disabled uneditable}}/>
        </div>
        {{#if editable}}
        <div class="controle-fields" style="margin-left:10px;" data-tooltip="Le PnJ peut tenter des embellies">
          <label class="checkbox">Embellie
            <input type="checkbox" name="system.peutEmbellie" {{checked system.peutEmbellie}} />
          </label>
        </div>
        {{else}}
          {{#if system.peutEmbellie}}
        <div class="controle-fields" style="margin-left:10px;" data-tooltip="Le PnJ peut tenter des embellies">
          <i class="logo_embellie"></i>
        </div>
          {{/if}}
        {{/if}}
      </div>
    </header>
    <div class="sheet-cont">
      {{! Sheet Navigation }}
      <nav class="sheet-navigation tabs" data-group="primary">
        <a class="choix_tab" data-tab="details"><i class="fa-solid fa-chart-simple"></i></a>
        <a class="choix_tab" data-tab="combat"><i class="fa-solid fa-sword"></i></a>
        <a class="choix_tab" data-tab="sante"><i class="fa-solid fa-heart-pulse"></i></a>
        <a class="choix_tab" data-tab="description"><i class="fa-regular fa-clipboard"></i></a>
      </nav>

      {{! Détails Tab }}
      <div class="tab tab-details flexcol" data-group="primary" data-tab="details">
          {{> "systems/cabinet/templates/sheets/partials/pnj-details.hbs"}}
      </div>

      {{! Combat Tab }}
      <div class="tab tab-combat flexcol" data-group="primary" data-tab="combat">
          {{> "systems/cabinet/templates/sheets/partials/pnj-combat.hbs"}}
      </div>

      {{! Santé Tab }}
      <div class="tab tab-sante flexcol" data-group="primary" data-tab="sante">
          {{> "systems/cabinet/templates/sheets/partials/pnj-sante.hbs"}}
      </div>

      {{! Notes Tab }}
      <div class="tab tab-desc flexcol" data-group="primary" data-tab="description">
        {{> "systems/cabinet/templates/sheets/partials/pnj-description.hbs"}}
      </div>
    </div>
  </section>
</form>